/* 表头和表尾样式 */

table {
  font-family: '宋体', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 11px;
  width: 100%;
}
th {
  font-size: 12px;
  font-weight: 500;
}
.table-layout-content {
  font-size: 12px;
}
.table-layout-content tr {
  height: 26px;
}
.table-paging-content th{
  border: solid 1px black;
}
.table-paging-content td{
  border: solid 1px black;
}
.table-paging-content td div{
  overflow: hidden;
  padding: 0px 2px;
}